
$crem: #FFF7E6;
$bej: #E6CBA8;
$gri-deschis: #E4DCD0;
$roz-pal: #E4BFBA;
$portocaliu: #C76542;
$portocaliu-deschis: #E67E22;
$rosu: #C0392B;
$galben: #F5D677;
$cafeniu: #794866;
$inchis: #212121;

$primary: $portocaliu-deschis;
$secondary: $cafeniu;
$success: $galben;
$danger: $rosu;
$light: $crem;
$dark: $inchis;

$body-bg: $crem;
$body-color: $inchis;

$font-family-base: 'Segoe UI', sans-serif;
$headings-font-family: 'Segoe UI', sans-serif;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;

$border-radius: 12px;
$border-radius-lg: 20px;
$border-radius-sm: 6px;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1.5rem;
$btn-font-weight: 600;

// Acum importă bootstrap folosind aceste variabile custom
@use "../../node_modules/bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $success: $success,
  $danger: $danger,
  $light: $light,
  $dark: $dark,
  $body-bg: $body-bg,
  $body-color: $body-color,
  $font-family-base: $font-family-base,
  $headings-font-family: $headings-font-family,
  $h1-font-size: $h1-font-size,
  $h2-font-size: $h2-font-size,
  $h3-font-size: $h3-font-size,
  $border-radius: $border-radius,
  $border-radius-lg: $border-radius-lg,
  $border-radius-sm: $border-radius-sm,
  $grid-breakpoints: $grid-breakpoints,
  $input-btn-padding-y: $input-btn-padding-y,
  $input-btn-padding-x: $input-btn-padding-x,
  $btn-font-weight: $btn-font-weight
);


.light-mode {
  background-color: $light;
  color: $dark;

  ::selection {
    background-color: $primary;
    color: $light;
    font-weight: 600;
  }
}

.dark-mode {
  background-color: $dark;  
  color: $light;           

  ::selection {
    background-color: $secondary;  
    color: $light;                 
    font-weight: 600;
  }
}
