<footer>
    <a href="https://raftulbunicii.ro/retete-romanesti/" target="blank">Viziteaza si acest site daca nu ai gasit aici retetele pe care le cautai!</a><br>
    <a href="#" title = "Mergi sus!" id = "link-top">
    <span class="paranteza">&#40;</span>
    <span id="triunghi"></span>
    <span class="paranteza">&#41;</span></a><br>
    <div class="container-iframe">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y-ZS3rxpogA?si=ru4PXZfGKA0GpnZL" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen name="ifr"></iframe>
        <div class="taburi-iframe">
            <a href="https://www.e-retete.ro/romaneasca" target="ifr">Alte idei de retete traditionale!</a>
            <a href=" https://www.lauraadamache.ro/retete/traditionale-romanesti" target="ifr">Mult mai multe idei de retete!</a>
        </div>
    </div>
    <a href="./resurse/imagini/favicon/favicon.svg" download="ceva.svg">Download</a><br>
    <section id="Curs"> 
        <h2>CURS CULINAR</h2>
        <a href="mailto:retetetraditionaleromanesti@gmail.com">Puteti trimite un mesaj la aceasta adresa de mail<i class="fa-solid fa-envelope fa-bounce"></i></a><br>
        <a href="tel:+40764582499">Pentru inscrieri la cursul nostru sunati la +40764582499</a><br>
        <a href="https://wa.me/40764582499" target="blank">Scrie-ne pe WhatsApp!</a><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2737.599758126061!2d26.097011776083985!3d44.43553547107578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e1!3m2!1sro!2sro!4v1741077765821!5m2!1sro!2sro" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0970118,629m" target="blank">Indicații către locația noastră</a><br>
    </section>
    <p>Această pagină a fost creată pe 4 martie 2025<time datetime="2025-03-04T12:27:34+03:00"></time></p>
    <p><small>Copyright &copy;2025 Andreea Busuioc</small></p>   
    <p id="banner">Acesta este un proiect școlar!</p>     
</footer>